/* arquivo css - Projeto 1 */
/*
html {
    background-color: black;
    color: white;
}

#conteudo {
 background-color: #2F2E2E;
}

.borda-circular {
    border-radius: 15%;
    padding: 5px;
    background-color: black;
    padding: 5px;
    text-align: justify;
    border-radius: 5%;
    margin: 0 auto;
}

fieldset {
    border: 0px solid;
}
*/