/*******************************************/

/*FONTE*/

@font-face { /* FONTE EXTERNA */
    font-family:'inconsolata';
    src: url(../fonts/static/Inconsolata_Condensed-Regular.ttf);
}

html {
    font-family: 'inconsolata';
}

/*******************************************/

/*INDEX*/

/*linha acima do parágrafo da descrição*/
#pDesc{
    border-top: 1.5px  #00C2FF solid;
    padding: 5px;
}

#conteudo{
    text-align: center; 
}

#descricao{
    width: 25%;
    height: 50%;
    background-color: #1c1a1a;
    padding:15px;
    text-align: justify;
    border-radius: 5%;
    margin: 0 auto; 
}

/*******************************************/

p{
    color: aliceblue;
}

h2{
    color: aliceblue;
    text-shadow: 0 4px 8px rgb(11, 11, 11); 
}

h1{
    color: aliceblue;
    font-size: xxx-large;
    text-shadow: 0 4px 8px rgb(11, 11, 11);
}

.subtitulo {
    color: aliceblue;
    font-weight: lighter;
    text-shadow: 0 4px 8px rgb(11, 11, 11);
}

#desc{
    text-shadow: 0 4px 8px rgb(0, 0, 0);
}

body{
    background-color: #2e2f30;
    margin: 0%;
}

/*******************************************/

/*NAVIGATOR*/

nav a{
    color: azure;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline dashed;
    background-color: #dfe4e51b;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

nav{
    color: #ffffffbd;
}

#home{
    color: #f03d19;
}

#busca{
    color: #F54F1B;
}

#arquivo{
    color: #F56B1D;
}

#substituir{
    color: #FF8400
}

#cadastro{
    color: #F8A222;
}

/*******************************************/

/*FOOTER*/

.links{
    font-size: small;
}

.link{
    color: #FF8400 ;
}

footer{
    width: 100%;
    height: 60%;
    background-color: #1c1a1a;
    padding:5px;  
    position:static;
    bottom: 0;
    margin: 0 auto;
    color: aliceblue;   
}

/*******************************************/


#txt{
    text-shadow: 0 4px 8px rgb(0, 0, 0);
}

#selecionar{
    text-shadow: 0 4px 8px rgb(11, 11, 11);
}

.bt{
    background-color: #1c1a1a;
    color: aliceblue;
    border-color: #555352;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.bt:active{
    background-color: #fb5209;
}

.caixa{
    border-color: #555352;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

form{
    color: aliceblue;  
}

fieldset{
    color: aliceblue;
    border-width: 2px; 
    border-style: solid; 
    margin: 0 auto;
    width: 25%;
    border-radius: 10px;
    border-color: #F54F1B; 
}

textarea{
    background-color: #b1afae;
    border-radius: 10px;
}