/*dúvidas linha 49 e 54*/

#conteudo{
    text-align: center;
    
}


p{
    color: aliceblue;
}

h2{
    color: aliceblue;
    
}
h1{
    color: aliceblue;
    font-size: xxx-large;
}

body{
    background-color: #2e2f30;
    margin: 0%;
}

nav a{
    color: azure;
}

nav a:hover{
    background-color: #dfe4e51b;
    padding: 10px;
    border-radius: 15%;
    margin: 5px;
}

nav{
    color: #ffffffbd;
}

#home{
    color: #f03d19;
}

#busca{
    color: #F54F1B;
}

#arquivo{
    color: #F56B1D;
}

#substituir{
    color: #FF8400
}

#cadastro{
    color: #F8A222;
}

.links{
    font-size: small;
}

.link{
    color: #FF8400;
}

.bt{
    background-color: #1c1a1a;
    color: aliceblue;
    border-color: #555352;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

footer{
    width: 100%;
    height: 20%;
    background-color: #1c1a1a;
    padding:8px;  
    position:static;
    bottom: 0;
    margin: 0 auto;
    color: aliceblue;   
}

form{
    color: aliceblue;
    
}

fieldset{
    color: aliceblue;
    border-width: 2px; 
    border-style: solid; 
    margin: 0 auto;
    width: 25%;
    
    border-color: #F54F1B; 
}